<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/user.css}">
  <title th:text="|${pageName}|"></title>
</head>
<body>
<div class="container">
  <a th:href="@{/index}"><img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" style="width:70%;"></a> <hr/>
  <h2 class="textx">(인증 실패)로그인하지 않았습니다!</h2>
  <br>
  <a th:href="@{/index}"><button class="button login-button">Login</button></a>


</div>
</body>
</html>