<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div class="chat-container">
    <a th:href="@{/home}">
        <div id="header">
            <img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" >
            <p class="webTitle_logs">Memorials</p>
        </div>
    </a>

    <br>
    <div class="capsule-container">


        <!-- 
            //모든 id다 가지고 오는 코드
            <div class="capsule" th:each="entry : ${capsulesByDate}">
            <div th:each="qna : ${entry.value}">
                <a class = "list" th:href="@{'/capsule/' + ${qna.qnadate}}">
                    <span th:text="'No.' + ${qna.qnaid}"></span><br>
                    <span th:text="'DATE : ' + ${qna.qnadate}"></span>
                </a>
            </div>
        </div> -->

        <div class="capsule" th:each="entry : ${capsulesByDate.entrySet()}">
            <a class = "list" th:href="@{'/capsule/' + ${entry.key}}">
                <div>
                    <span th:text="'No.' + ${entry.value[0].qnaid}"></span><br>
                    <span th:text="'DATE : ' + ${entry.key}"></span>
                </div>
            </a>
        </div>
        <!-- 
            //#dates.daysBetween가 타임리프랑 호환 문제 있는 듯
        <div th:each="entry : ${capsulesByDate.entrySet()}" th:class="${#dates.daysBetween(#dates.createOrModify(#dates.createNow(), -7, null, null, null, null, null), #dates.parse(entry.key, 'yyyy-MM-dd')) >= 0 ? 'capsule blocked-capsule' : 'capsule'}">
            <a class = "list" th:href="@{'/capsule/' + ${entry.key}}">
                <div>
                    <span th:text="'No.' + ${entry.value[0].qnaid}"></span><br>
                    <span th:text="'DATE : ' + ${entry.key}"></span>
                </div>
            </a>
        </div> -->


        <!-- <div th:each="entry : ${capsulesByDate.entrySet()}" th:class="${entry.value[0].isWithinWeek ? 'capsule blocked-capsule' : 'capsule'}">
            //isWithinWeek는 백엔드에서 7일 계산하는 메서드 이름 예시
            <a class = "list" th:href="@{'/capsule/' + ${entry.key}}">
                <div>
                    <span th:text="'No.' + ${entry.value[0].qnaid}"></span><br>
                    <span th:text="'DATE : ' + ${entry.key}"></span>
                </div>
            </a>
        </div> -->



    </div>
    <br><br>

    <nav>
        <a th:href="@{/capsule/chat}" >
            <button class="btn">
                <span>Go To Chat</span>
            </button>
        </a>

    </nav>
</div>
</body>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>