<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div class="chat-container">

    <div id="chat-box">
        <a th:href="@{/home}">
            <div id="header">
                <img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" >
                <p class ="webTitle_capsule">My Log</p>
            </div>
        </a>

        <!--capsule.qnaid로 들어갈 수 있음 mylog 에서 변경
          <input type="hidden" id="capsule-id" th:value="${capsule.qnaid}">
          <header class="mb-4">
            <h1 class="fw-bolder mb-1" th:text="${capsule.question}"></h1>
            <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(capsule.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
          </header>
          <section class="mb-5">
            <p class="fs-5 mb-4" th:text="${capsule.answer}"></p>
          </section>
        -->




        <br>
        <div class="chatbot-message">
            오늘은 어떤 하루를 보내셨나요?
        </div>
        <div class="user-message">
            나 : 오늘은 조금 힘든 날이네요.
        </div>
        <div class="chatbot-message">
            챗봇 : 저도 그런 날이 있습니다.
            힘든 날이라면 일단 자신을 위로해주고 휴식을 취하는 것도 좋은 방법입니다.
            무엇보다 중요한 것은 긍정적으로 생각하고 힘을 내는 것입니다.
            앞으로 더 좋은 일들이 기다리고 있을 거라는 생각으로 오늘을 잘 마무리해보세요.
            화이팅!
        </div>
        <div class="user-message">
            나 : 고맙습니다.
        </div>
        <div class="chatbot-message">
            챗봇 : 아니에요, 제가 도와줄 수 있는게 있으면 언제든지 말씀해주세요.
            다른 도움이 필요하신가요?
        </div>


    </div>
</div>
</body>

</html>