<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div class="chat-container">
    <a th:href="@{/home}">
        <div id="header">
            <img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" >
            <p class="webTitle_logs">Memorials</p>
        </div>
    </a>

    <br>
    <div class="capsule-container">



<!--         
        //타임캡슐 적용 전    
        <div class="capsule" th:each="entry, iterStat : ${capsulesByDate.entrySet()}">
            <a class = "list" th:href="@{'/capsule/' + ${entry.key}}">
                <div>
                    <span th:text="'No.' + (${capsulesByDate.size() - iterStat.index})"></span><br>
                    <span th:text="'DATE : ' + ${entry.key}"></span>
                </div>
            </a>
        </div> -->

        <div class="capsule-container">
            <div th:each="entry, iterStat : ${capsulesByDate.entrySet()}">
                <div th:if="${entry.key.isBefore(T(java.time.LocalDate).now().minusDays(7))}" class="capsule" >
                    <a class = "list" th:href="@{'/capsule/' + ${entry.key}}">
                        <div>
                            <span th:text="'No.' + (${capsulesByDate.size() - iterStat.index})"></span><br>
                            <span th:text="'DATE : ' + ${entry.key}"></span>
                        </div>
                    </a>
                </div>

                <div th:if="${entry.key.isEqual(T(java.time.LocalDate).now().minusDays(7))}" class="capsule" >
                    <a class = "list" th:href="@{'/capsule/' + ${entry.key}}">
                        <div>
                            <span th:text="'No.' + (${capsulesByDate.size() - iterStat.index})"></span><br>
                            <span th:text="'DATE : ' + ${entry.key}"></span>
                        </div>
                    </a>
                </div>

                <div th:if="${entry.key.isAfter(T(java.time.LocalDate).now().minusDays(7))}" class="capsule blocked-capsule" >
                    <a class = "list" th:href="@{'/capsule/' + ${entry.key}}">
                        <div>
                            <span th:text="'No.' + (${capsulesByDate.size() - iterStat.index})"></span><br>
                            <span th:text="'DATE : ' + ${entry.key}"></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        



    </div>
    <br><br>

    <nav>
        <a th:href="@{/capsule/chat}" >
            <button class="btn">
                <span>Go To Chat</span>
            </button>
        </a>

    </nav>
</div>
</body>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>