<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div class="chat-container">

    <div id="chat-box">
        <a th:href="@{/home}">
            <div id="header">
                <img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" >
                <p class ="webTitle_capsule">My Log</p>
            </div>
        </a>

        <!--capsule.qnaid로 들어갈 수 있음 mylog 에서 변경
          <input type="hidden" id="capsule-id" th:value="${capsule.qnaid}">
          <header class="mb-4">
            <h1 class="fw-bolder mb-1" th:text="${capsule.question}"></h1>
            <div class="text-muted fst-italic mb-2" th:text="|Posted on ${#temporals.format(capsule.createdAt, 'yyyy-MM-dd HH:mm')}|"></div>
          </header>
          <section class="mb-5">
            <p class="fs-5 mb-4" th:text="${capsule.answer}"></p>
          </section>
        -->

        <br>

        <!-- <div id="chat-messages">
            <ul>
                <li th:each="message : ${capsule.getMessages()}">
                    <p><span th:text="${message.getRole()}"></span>: <span th:text="${message.getContent()}"></span></p>
                </li>
            </ul>
        </div> -->

                <!-- Capsule 정보 출력 -->
                <div class="capsule-info">
                    <h1 th:text="${capsule.question}" class="question"></h1>
                    <p class="date" th:text="|Created on ${#temporals.format(capsule.qnadate, 'yyyy-MM-dd')}|"></p>
                </div>
        
                <!-- 채팅 기록 출력 -->
                <div class="chat-history">
                    <div th:each="message : ${capsule.messages}">
                        <div th:class="${message.role == 'user'} ? 'user-message' : 'chatbot-message'" th:text="${message.content}"></div>
                    </div>
                </div>

  

        


    </div>
</div>
</body>

</html>