<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/chat.css}">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div class="chat-container">
    <div id="chat-box">
        <a th:href="@{/home}">
            <div id="header">
                <img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" style="width: 30%;">
                <p class ="webTitle_chat">Chat</p>

            </div>
        </a>
        <!-- <input type="hidden" id="capsule-id" th:value="${capsule.qnaid}"> -->
        <!--으로 캡슐 생성 가능
        <input type="hidden" id="capsule-id" th:value="${capsule.qnaid}">

        <header class="mb-4">
        <input type="text" class="form-control" placeholder="질문" id="question" th:value="${capsule.question}">
        </header>
        <section class="mb-5">
        <textarea class="form-control h-25" rows="10" placeholder="답변" id="answer" th:text="${capsule.answer}"></textarea>
    -->
        <br>
        <input type="hidden" id="capsule-id" th:value="${capsule.qnaid}"> -->

<!--        <input type="hidden" id="question" th:value="${capsule.question}">
        <input type="hidden" id="answer" th:value="${capsule.answer}">-->
        <div class="chat-log" id='chat-log'>
            <div class="chatbot-message">
                오늘은 어떤 하루를 보내셨나요?
            </div>
        </div>


        <form id='user-input-form'>
            <div class="user-input-container">
                <input type='text' id='user-input' placeholder='Type your message here...' required />

                <img th:src="@{/asset/sendIcon.png}" alt='Submit Image' class="Submit-image"/>
                </button>
            </div>
        </form>
    </div>
</div>

<script>
    const userInput = document.getElementById("user-input");
    const sendButton = document.querySelector(".submit-button");
    const chatLog = document.querySelector(".chat-log");

    const generate = async () => {
        const userMessage = userInput.value;
        userInput.value = "";
        sendButton.disabled = true;
        userInput.disabled = true;

        chatLog.innerHTML += `<div class="user-message">${userMessage}</div>`;

        // Send the user-message to your backend
        const response = await fetch('/bot/chat?prompt=' + userMessage, {
            method: 'GET',
        });

        if (response.ok) {
            const data = await response.json();
            const botReply = data.botReply;

            chatLog.innerHTML += `<div class="chatbot-message">${botReply}</div>`;
            chatLog.scrollTop = chatLog.scrollHeight;
        } else {
            console.error('Error fetching data from backend');
        }

        userInput.disabled = false;
        sendButton.disabled = false;
    };

    sendButton.addEventListener('click', () => {
        if (userInput.value.trim() !== '') {
            sendButton.disabled = false;
            generate();
        } else {
            sendButton.disabled = true;
        }
    });
</script>

</body>
</html>