
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/emotion_to.css}">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div class="chat-container">
    <a th:href="@{/home}">
        <div id="header">
            <img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" >
            <p class="webTitle_logs">emotion</p>
        </div>
    </a>

    <br>

             <p>최근 일주일 간 기분</p>
             <br>
             <div id="weekEmotionChart">
             </div>
             <br>
             <br>
             <br>
             <br>
             <p>최근 한달 간 기분</p>
             <br>
             <canvas id="monthEmotionChart" width = "260px" height = "200px"></canvas>

         
 
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  <!-- 외부에 있는 chart.js 라이브러리 로드하는 html 코드-->
         
         <script th:inline="javascript"> 

            var weekEmotions = /*[[${lastWeekEmotions}]]*/ 'weekEmotions';
            var monthEmotions = /*[[${lastMonthEmotions}]]*/ 'monthEmotions';

            var emotions = ['happy', 'fine', 'neutral', 'sad', 'depressed', 'angry']; // 감정 카테고리를 담은 배열

            var weekEmotionCounts = countEmotions(weekEmotions);
            var monthEmotionCounts = countEmotions(monthEmotions);
            
            var WeekEmotionChart = document.getElementById('weekEmotionChart');  
            var MonthEmotionChart = document.getElementById('monthEmotionChart').getContext('2d'); 
        
            function countEmotions(emotions) {
                var counts = {};
                for (var i = 0; i < emotions.length; i++) {
                    var emotion = emotions[i];
                    counts[emotion] = counts[emotion] ? counts[emotion] + 1 : 1;
                }
                return counts;
            }
        
            // 주간 감정 그래프 만드는 함수
            createWeekEmotionBarChart(weekEmotions);
 
         // 주간 감정 그래프 만드는 함수(가로누적막대)

        function createWeekEmotionBarChart(weekEmotions) {
            for (let i = 0 ; i < weekEmotions.length; i++) { // weekEmotion 내의 배열 길이만큼 다음 코드 실행
                const bar = document.createElement('div'); // 하나의 감정을 담을 bar를 html의 element인 div로 선언
                bar.classList.add('bar'); // bar에 bar css를 추가 (밑에 곧 나올 css 코드 참조)

                WeekEmotionChart.appendChild(bar);  // 막대를 주간차트에 추가

                // switch 문으로 감정에 따른 css 추가
                switch (weekEmotions[i]) {
                    case 'happy': // 'happy'한 감정일 경우
                        bar.classList.add('happy-bar'); // bar에 happy bar ccs를 추가
                        const imgHappy = document.createElement('img'); // bar에 담을 이미지 선언 
                        imgHappy.src = './asset/emoji/happy.png'; // bar에 담을 이미지 로컬파일에서 상대경로로 가져오기
                        imgHappy.alt = 'happy'; // 만약 이미지가 로드되지 않을 경우 띄울 대체텍스트 선언
                        bar.append(imgHappy); // bar에 이미지 추가
                        break;
                    // 감정에 따라 동일한 과정 수행
                    case 'fine':
                        bar.classList.add('fine-bar');
                        const imgFine = document.createElement('img');
                        imgFine.src = './asset/emoji/fine.png'; 
                        imgFine.alt = 'fine';
                        bar.append(imgFine);
                        break;
                    case 'neutral':
                        bar.classList.add('neutral-bar');
                        const imgNeutral = document.createElement('img');
                        imgNeutral.src = './asset/emoji/neutral.png'; // 이미지 파일 경로 설정
                        imgNeutral.alt = 'neutral';
                        bar.append(imgNeutral);
                        break;
                    case 'angry':
                        bar.classList.add('angry-bar');
                        const imgAngry = document.createElement('img');
                        imgAngry.src = './asset/emoji/angry.png'; 
                        imgAngry.alt = 'angry';
                        bar.append(imgAngry);
                        break;
                    case 'sad':
                        bar.classList.add('sad-bar');
                        const imgSad = document.createElement('img');
                        imgSad.src = './asset/emoji/sad.png'; 
                        imgSad.alt = 'sad';
                        bar.append(imgSad);
                        break ;
                    case 'depressed':
                        bar.classList.add('depressed-bar');
                        const imgDepress = document.createElement('img');
                        imgDepress.src = './asset/emoji/depressed.png'; 
                        imgDepress.alt = 'depressed';
                        bar.append(imgDepress);
                        break;
                    default:
                        break;
                }
            }
        }
 
         // 월간 감정 그래프 (세로막대그래프), chart.js 필요!
         var monthChart = new Chart(MonthEmotionChart, {
                 type: 'bar', // 막대 그래프 타입Q
                 data: {
                     labels: emotions, // 가로축의 카테고리가 되는 배열 emotions (6개의 카테고리 '행복', '좋음', '중립', '슬픔', '우울', '화남')
                     
                     datasets: [{
                         label: 'Last month emotions',
                         data: monthEmotionCounts, // 그래프의 데이터로 쓸 배열 LastMonthEmotion
                         // 6개의 카테고리를 각기 다르게 표현할 색깔들
                         backgroundColor: ['rgba(255, 182, 119, 0.3)', 'rgba(155, 212, 173, 0.3)', 'rgba(255, 236, 152, 0.3)', 
                                             'rgba(141, 182, 233, 0.3)', 'rgba(187, 172, 224, 0.3)',  'rgba(248, 128, 146, 0.3)'],
                         borderColor: ['rgba(255, 182, 119, 0.8)', 'rgba(155, 212, 173, 0.8)', 'rgba(255, 236, 152, 0.8)', 
                                          'rgba(141, 182, 233, 0.8)', 'rgba(187, 172, 224, 0.8)',  'rgba(248, 128, 146, 0.3)' ],
                         borderWidth: 1
                     }]
                 },
                 options: {
                     responsive: false, // 화면 크기에 반응
                     maintainAspectRatio: false, // 종횡비 유지 여부
                     aspectRatio: 2, // 가로:세로 비율 설정 (너비:높이)
                    
                     plugins: {
                         legend: {
                             labels: {
                                 fontSize: 32 // 레이블의 글씨 크기 설정
                             }
                         }
                     },
                     scales: {
                         xAxes: [{
                             ticks:{
                                 fontColor : 'rgba(12, 13, 13, 1)',
                                 fontSize : 24
                             },
                             gridLines:{
                                 color: "rgba(87, 152, 23, 1)",
                                 lineWidth: 3
                             }
                         }],
                         y: {
                             beginAtZero: true, // 0값 가능
                             max: 16 // 그래프가 가질 수 있는 최댓값
                         }
                     }
                 }
             });
             
         </script>
     </body>
 </html>