<!DOCTYPE html>
 <html lang="ko" xmlns:th="http://www.thymeleaf.org">
     <head>
         <meta charset="UTF-8">
         <link rel="stylesheet" th:href="@{/css/emotion_to.css}">
         <title th:text="|${pageName}|">emotions</title>
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     </head>
     <body>
 
         <div class="chat-container">
             <a th:href="@{/home}">
                 <div id="header">
                    <img src="./asset/logo.png" alt="Logo Image" class="logo-image" >
                     <p class="webTitle_logs">emotion</p>
                 </div>
             </a>
         </div>
             
             <h1>최근 기분</h1>
             <div id="weekEmotionChart">
             </div>
             
             <h1>최근 한달간 기분</h1>
             <canvas id="monthEmotionChart" ></canvas>
         
 
 
         <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>  <!-- 외부에 있는 chart.js 라이브러리 로드하는 html 코드-->
         <script> // 자바 스크립트를 이용해 주간감정그래프와 월간감정그래프를 그려줍니다.
 
         const emotions = ['행복', '슬픔', '중립', '좋음', '우울', '화남']; // 분류의 기준이 될 감정변수 배열
 
         var LastWeekEmotions = ['슬픔', '화남', '중립', '우울', '행복', '좋음']; // 주간 감정 변수 배열
         var LastMonthEmotions = [2, 10, 8, 5, 5, 30]; // 월간 감정 그래프 데이터 (emotions와 연결지어 봐야함, ex) '행복'- 2회, '슬픔' - 10회 ...)
 
         // html에 띄울 element를 getElementById 함수를 이용해 javascript로 가져옵니다.
         var WeekEmotionChart = document.getElementById('weekEmotionChart');  // 주간감정차트 변수 (Html에서는 weekEmotionChart, Js에서는 WeekEmotionChart) 
         var MonthEmotionChart = document.getElementById('monthEmotionChart').getContext('2d');  // 월간감정차트 변수 (Html에서는 monthEmotionChart, Js에서는 MonthEmotionChart)
 
 
         // 주간 감정 그래프 만드는 함수(가로누적막대)
         function createWeekEmotionBarChart(weekEmotions) {
 
             //let cumulativeWidth = 0;
             
             for (let i = 0 ; i < weekEmotions.length; i++) { // weekEmotion 내의 배열 길이만큼 다음 코드 실행
 
                 const bar = document.createElement('div'); // 하나의 감정을 담을 bar를 html의 element인 div로 선언
                 bar.classList.add('bar'); // bar에 bar css를 추가 (밑에 곧 나올 css 코드 참조)


             WeekEmotionChart.appendChild(bar);  // 막대를 주간차트에 추가
 
             // switch 문으로 감정에 따른 css 추가
                 switch (weekEmotions[i]) {
                     case '행복': // '행복'한 감정일 경우
                         bar.classList.add('happy-bar'); // bar에 happy bar ccs를 추가
                         const imgHappy = document.createElement('img'); // bar에 담을 이미지 선언 
                         imgHappy.src = './asset/emoji/happy.png'; // bar에 담을 이미지 로컬파일에서 상대경로로 가져오기
                         imgHappy.alt = 'happy'; // 만약 이미지가 로드되지 않을 경우 띄울 대체텍스트 선언
                         bar.append(imgHappy); // bar에 이미지 추가
                         break;
                     // 감정에 따라 동일한 과정 수행
                     case '좋음':
                         bar.classList.add('fine-bar');
                         const imgFine = document.createElement('img');
                         imgFine.src = './asset/emoji/fine.png'; 
                         imgFine.alt = 'fine';
                         bar.append(imgFine);
                         break;
                     case '화남':
                         bar.classList.add('angry-bar');
                         const imgAngry = document.createElement('img');
                         imgAngry.src = './asset/emoji/angry.png'; 
                         imgAngry.alt = 'angry';
                         bar.append(imgAngry);
                         break;
                     case '슬픔':
                         bar.classList.add('sad-bar');
                         const imgSad = document.createElement('img');
                         imgSad.src = './asset/emoji/sad.png'; 
                         imgSad.alt = 'sad';
                         bar.append(imgSad);
                         break ;
                     case '우울':
                         bar.classList.add('depressed-bar');
                         const imgDepress = document.createElement('img');
                         imgDepress.src = './asset/emoji/depressed.png'; 
                         imgDepress.alt = 'depressed';
                         bar.append(imgDepress);
                         break;
                     case '중립':
                         bar.classList.add('neutral-bar');
                         const imgNeutral = document.createElement('img');
                         imgNeutral.src = './asset/emoji/neutral.png'; // 이미지 파일 경로 설정
                         imgNeutral.alt = 'neutral';
                         bar.append(imgNeutral);
                         break;
                     default:
                         break;
                     }
                 }
             }
             createWeekEmotionBarChart(LastWeekEmotions);
 
         // 월간 감정 그래프 (세로막대그래프), chart.js 필요!
         var monthChart = new Chart(MonthEmotionChart, {
                 type: 'bar', // 막대 그래프 타입
                 data: {
                     labels: emotions, // 가로축의 카테고리가 되는 배열 emotions (6개의 카테고리 '행복', '슬픔', '중립', '좋음', '우울', '화남')
                     
                     datasets: [{
                         data: LastMonthEmotions, // 그래프의 데이터로 쓸 배열 LastMonthEmotion
                         // 6개의 카테고리를 각기 다르게 표현할 색깔들
                         backgroundColor: ['rgba(255, 182, 119, 0.3)','rgba(155, 212, 173, 0.3)', 'rgba(248, 128, 146, 0.3)',
                                         'rgba(141, 182, 233, 0.3)', 'rgba(187, 172, 224, 0.3)' , 'rgba(255, 236, 152, 0.3)'],
                         borderColor: ['rgba(255, 182, 119, 0.8)','rgba(155, 212, 173, 0.8)', 'rgba(248, 128, 146, 0.8)',
                                         'rgba(141, 182, 233, 0.8)', 'rgba(187, 172, 224, 0.8)' , 'rgba(255, 236, 152, 0.8)'],
                         borderWidth: 1
                     }]
                 },
                 options: {
                     scales: {
                         y: {
                             beginAtZero: true, // 0값 가능
                             max: 30 // 그래프가 가질 수 있는 최댓값
                         }
                     }
                 }
             });
             
         </script>
     </body>
 </html>