<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <title th:text="|${pageName}|"></title>
</head>
<body>

<div class="login-container">
    <a th:href="@{/home}"><img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" style="width:70%;"></a>

    <div class="container" th:if="${user.nickname  == null}">
        <p class="textx2">Please Login</p>
        <br>
        <br>
        <button type="button" class="join-button" onclick="location.href='/login'">Login</button>
        <br/>
        <button type="button" class="join-button" onclick="location.href='/signup'">Join</button> <br/><br/>
    </div>
    <div class="container" th:unless="${user.nickname == null}">
        <p class="textx">Welcome!</p>
        
        <div class="round-button" th:onclick="|location.href='@{/info}'|">
            <img class="emotion-image hover" th:src="@{/asset/graph.png}" alt="emotion Image">
        </div>
        
        
        <button class="btn1" th:onclick="|location.href='@{/capsule/chat}'|">
            <span>Go To Chat</span>
        </button>
        <br>
        <button class="btn2" th:onclick="|location.href='@{/capsules}'|">
            <span>Capsule</span>
        </button>
        <br>
        <button class="btn3" th:onclick="|location.href='@{/info}'|">
            <span>My Page</span>
        </button>

        <!-- <div class="round-button" th:onclick="|location.href='@{/info}'|">
            <img th:src="@{/asset/emotion_2.png}" alt="emotion Image" class="emotion-image">
        </div> -->
        



    </div>

    
</div>
</body>
</html>