<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <title th:text="|${pageName}|"></title>

</head>
<body>
<div class="container">
    <a th:href="@{/home}"><img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" style="width:70%;"></a>

    <p class="textx2">My Page</p><br><br>
    <div>
        <div class='user_info' th:text="|ID  &nbsp : &nbsp  ${user.email}|"/><br>
        <div class='user_info' th:text="|NICKNAME  &nbsp :  &nbsp  ${user.nickname}|"/><br>
        <div class='user_info' th:text="|LEVEL &nbsp  :  &nbsp ${user.role}|"/><br><br>
        <button class="logout-button" th:onclick="|location.href='@{/logout}'|">
            <img th:src="@{/asset/logout.png}" alt='Logout Image' class="logout-image"/>
        </button>

    </div>
</div>
</body>
</html>