@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* viewport height */
    background-color: #FFFFFF; /* white */
    margin: 5px;
    border: 1px solid #FFFFFF;
}

a {
   text-decoration: none;
 }

.container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align:center;
}
.logo-image {
   width:80%;
   max-width :500px; 
   min-width :150px; 
   margin-bottom :20px; 
}

.button-group .button{
   display:block;
   width :90%;
   max-width :200px; 
   min-width :120px; 
   padding :10px ;
   
   
}
button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #088A08;
    border-radius: 0.6em;
    color: #088A08;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
  
    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
}
.login-button,
.join-button {
   background-color: #FFFFFF; /* white */
   color: #088A08; /* green text */
   border: none;
   /*
   border-width: 1px;
   border-style: solid;
   */
   border-bottom: solid;
   border-color: #088A08; /* green border */
   border-bottom-width: 3px; /* thicker bottom border */
   margin-bottom: 15px;
   border-radius :0px ;
   transition: all 0.2s ease-in-out; /* smooth transition */
   &:hover {
    box-shadow: 0 0 2px 0 #155e27 inset, 0 0 5px 1px #155e27;
    color: #155e27; 
    background-color: #FFFFFF; 
    border-width :2px ;
    border-style :solid ;
    border-color :#088A08 ; 
    border-radius :5px ;
   }
}



@media only screen and (max-width:600px){
	.logo-image{
		width :80% ;
		min-width :100px ; 
	}
	
	.button-group .button{
	   width :90% ;
	   min-width :90px ; 
	   
	}
	
} 

