<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/mypage.css}">
    <title th:text="|${pageName}|"></title>
</head>
<body>

    <div class="login-container">
        <a th:href="@{/security-login}"><img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" style="width:70%;"></a>

        <div class="container" th:if="${nickname == null}">
            <p class="textx2">Please Login</p>

            <br><br>
            <button class="join-button" th:onclick="|location.href='@{/{loginType}/login (loginType=${loginType})}'|">Login</button>
            <br/>
            <button class="join-button" th:onclick="|location.href='@{/{loginType}/join (loginType=${loginType})}'|">Join</button>
        </div>
        <div class="container" th:unless="${nickname == null}">

            <p class="textx">Welcome!</p>
            <br><br>

            <button class="btn" th:onclick="|location.href='@{/{loginType}/info (loginType=${loginType})}'|">
                <span>My Page</span>
            </button>
            <br>
            <button class="btn" th:onclick="|location.href='@{/{loginType}/chat (loginType=${loginType})}'|">
                <span>Go To Chat</span>
            </button>
            <br>
            <button class="btn" th:onclick="|location.href='@{/{loginType}/capsule (loginType=${loginType})}'|">
                <span>Capsule</span>
            </button>
        </div>
    </div>
</body>
</html>