<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/login.css}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="|${pageName}|"></title>
</head>
<body>
<div class="login-container">
    <a th:href="@{/index}"><img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image"></a>

    <form class="form-style" th:method="post" th:action="|@{/{loginType}/join (loginType=${loginType})}|" th:object="${joinRequest}">
            <div class="form-group">
                <label th:for="loginId">ID</label>
                <input type="text" placeholder="Enter your ID" required th:field="*{loginId}" th:errorclass="error-input"/>
                <div class="error-class" th:errors="*{loginId}"></div>
            </div>
            <div class="form-group">
                <label th:for="password">Password</label>
                <input type="password" placeholder="Enter your password"
                       required th:field="*{password}" th:errorclass="error-input"/>
                <div class="error-class" th:errors="*{password}"></div>
            </div>
            <div class="form-group">
                <label th:for="passwordCheck">Check Password</label>
                <input type="password" placeholder="Check your password"
                       required th:field="*{passwordCheck}" th:errorclass="error-input"/>
                <div class="error-class" th:errors="*{passwordCheck}"></div>
            </div>
            <div class="form-group">
                <label th:for="nickname">Nickname</label>
                <input type="text" placeholder="Enter your nickname"
                       required th:field="*{nickname}" th:errorclass="error-input"/>
                <div class="error-class" th:errors="*{nickname}"></div>
            </div>
            <br/>
            <button class="login-button" type="submit">Join</button>
            <br>
            <a th:href="@{/security-login/login}"><button class="join-button" type="button">Login</button></a>
        </form>

    </div>
</body>
</html>

<style>
.error-class {
    color: red;
}
.error-input {
    border-color: red;
}
</style>