<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/user.css}">
  <title th:text="|${pageName}|"></title>
</head>
<body>
<div class="container">
  <a th:href="@{/index}"><img th:src="@{/asset/logo.png}" alt="Logo Image" class="logo-image" style="width:70%;"></a> <hr/>
  <h2>(인가 실패)권한이 없습니다!</h2>
  <br>
  <a th:href="@{/home}"><button class="button login-button">Go To Main Page</button></a>
</div>
</body>
</html>